<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:800|Raleway:300">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>Test test</h1>
  <form action=/upload method=post enctype=multipart/form-data>
    <input type="file" name="file">
    <input type="submit">
  </form>
</body>
</html>